.App {
  background-color: #282c34;
  margin: 20px auto;
  max-width: 600px;
  min-height: 100px;
}

.App footer {
  color: white;
  font-size: 10px;
  margin: 5px 0;
}

.App-link {
  color: #61dafb;
}
